# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/Makefile
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/RetJsonData/Makefile
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/RetJsonData/Makefile.Debug
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/RetJsonData/Makefile.Release
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_ClientDataRecoder.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_MainWindow.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_STcpSocketClient.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_SThread.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_SThreadModel.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_SThreadPool.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_TaskManager.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/debug/moc_TaskTypeBase.cpp
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/Makefile
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/Makefile.Debug
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/Makefile.Release
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/object_script.SHttpServer.Debug
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/object_script.SHttpServer.Release
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/SHttpServer/ui_MainWindow.h
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/STool/Makefile
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/STool/Makefile.Debug
build-Http-Desktop_Qt_5_6_3_MinGW_32bit-Debug/STool/Makefile.Release
log/HttpServer20200304.txt
src/Http.pro.user
